---
layout: default
title: IndexFile
header: Posts By collection
---

<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        <div id="navigation">
        	<h1>目录</h1>
      		<ul class="nav sidenav">           

            {% assign collection_root_name =  'Clustering'  %} 
            {% assign all_pages_list =  site.collection_ScholarThings_Clustering    %} 
            

             {% assign num_pages =  all_pages_list.size %}         
            
              <li>{{ collection_root_name  | truncate: 25}}   
              <span style="color: #999999;" >({{ num_pages | minus:1 }})</span></li>

            <!-- 以下先将文件名获取，然后将url中的文件名部分去掉，url最前面的斜杠也得去掉。这样就得到了base_url -->
            {%  capture base_url_tmp %}              
            {%  for node in all_pages_list %}
              {% assign node_url_parts = node.url | split: '/' %}
              {%  assign filename = node_url_parts | last %}
              {%  assign tmp = filename | prepend: '/' %}             
              {%  assign node_base_url =  node.url | remove: tmp  %}
              {%  assign node_base_url =  node_base_url | remove_first: '/'  %}                
                {{node_base_url}}{% if forloop.last == false %}^{% endif %}                                                
            {% endfor %} 
            {% endcapture %}
            <!--按理说这么搞就可以了，但是由于空格和换行太多，导致这么得到的base_url有空格，不便于逻辑判断（如比较） -->
            {% assign base_url_list= base_url_tmp | split: "^" %}

            <li>base_url_list第一次处理：{{base_url_list}}</li>

            <!--所以再处理一遍，顺便排个序吧 -->
            {%  capture base_url_list %}
            {% for base_url in base_url_list %}
            {{base_url |  strip }}{% if forloop.last == false %}^{% endif %}
            {% endfor %} 
            {% endcapture %}
            {% assign base_url_list= base_url_list   | split: "^" | sort_natural | uniq %}
            <li>base_url_list第2次处理：{{base_url_list}}</li>

            <!--我发现最后一个总是出现两次，因此删除一个重复的 -->
            {% assign tmp_to_remove= base_url_list | last %}
            {% assign base_url_list= base_url_list | join:"^" | remove_first: tmp_to_remove %}
            {% assign base_url_list= base_url_list   | split: "^" | sort_natural | uniq %}
            <li>base_url_list第3次处理：{{base_url_list}}</li>

            {% for base_url in base_url_list %}
            <li>base_url:{{base_url}}</li>
              {% assign tmp = base_url | split: '/' %}
              {% assign base_url_submenu_name = tmp[-1] | strip %}
              <li>base_url_submenu_name:{{base_url_submenu_name}}</li>
                {% if collection_root_name == base_url_submenu_name %}
                <!--对于collection根目录下的文件，如果本collection下面没有子文件夹，说明本collection目录下的文档都是一个分类 -->
                  {% if base_url_list.size == 1 %} 
                    <li><a href="#本分类-ref"> 本分类 </a></li>
                  {% else %} <!-- 否则这些文档就是没有分类的 -->
                    <li><a href="#未分类-ref"> 未分类 </a></li>
                  {% endif %}

                {% else %}
                <li><a href="#{{ base_url_submenu_name | strip | url_decode}}-ref" >{{ base_url_submenu_name  | strip | url_decode}}</li> 
              {% endif %}
            {% endfor %}  
       
            
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <div class="home">
            {% for base_url in base_url_list %}            
              {% assign base_url_strip = base_url | strip %}
              {% assign tmp = base_url | split: '/' %}
              {% assign base_url_submenu_name = tmp[-1] | strip %} 
              {% assign base_url_depth= base_url| split: '/' | size %} 
              {% if collection_root_name == base_url_submenu_name %}
                  {% if base_url_list.size == 1 %}
                    <h2><a id="本分类-ref"> 本分类 </a></h2>
                  {% else %}
                    <h2><a id="未分类-ref"> 未分类 </a></h2> 
                  {% endif %}   
              {% else %}
                <h2><a id="{{ base_url_submenu_name | strip | url_decode}}-ref" >{{ base_url_submenu_name  | strip | url_decode}}</h2> 
              {% endif %}
             
                {% for node in all_pages_list %}                  
                  {% if node.url contains base_url_strip %}
                    {%  assign node_url_parts = node.url | split: '/' %}
                    {%  assign filename = node_url_parts | last %}                    
                    {%  assign tmp = filename | prepend: '/' %}             
                    {%  assign node_now_url =  node.url | remove: tmp  %}
                    {%  assign node_now_url =  node_now_url | remove_first: '/'  %}
                    {%  assign node_now_url_depth = node_now_url | split: '/' | size %}                                       
                    {% if base_url_depth==node_now_url_depth and filename != 'index' %}
                      
                      {% if node.title != null %}
                        {% if group == null or group == node.group %}
                          {% if page.url == node.url %}
                          <ol class="breadcrumb">
                            <li class="active"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{{ node.title }}</a></li>
                            <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                          </ol>
                          {% else %}
                          <ol class="breadcrumb">
                            <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                            <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                          </ol>
                          {% endif %}
                        {% endif %}
                      {% endif %}

                    {% endif %} 
                  {% endif %}                 
                {% endfor %} 
            {% endfor %}


 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>