---
layout: default
title: IndexFile
header: Posts By collection
---

<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        <div id="navigation">
        	<h1>目录</h1>
      		<ul class="nav sidenav">           

            {% assign collection_root_name =  'PaperToRead'  %} 
            {% assign all_pages_list =  site.collection_ScholarThings_PaperToRead    %} 
            

             {% assign num_pages =  all_pages_list.size %}         
            
              <li>{{ collection_root_name  | truncate: 25}}   
              <span style="color: #999999;" >({{ num_pages | minus:1 }})</span></li>

            <!-- 以下先将文件名获取，然后将url中的文件名部分去掉，url最前面的斜杠也得去掉。这样就得到了base_url -->
            {%  capture base_url_tmp %}              
            {%  for node in all_pages_list %}
              {% assign node_url_parts = node.url | split: '/' %}
              {%  assign filename = node_url_parts | last %}
              {%  assign tmp = filename | prepend: '/' %}             
              {%  assign node_base_url =  node.url | remove: tmp  %}
              {%  assign node_base_url =  node_base_url | remove_first: '/'  %}                
                {{node_base_url}}{% if forloop.last == false %}^{% endif %}                                                
            {% endfor %} 
            {% endcapture %}
            <!--按理说这么搞就可以了，但是由于空格和换行太多，导致这么得到的base_url有空格，不便于逻辑判断（如比较） -->
            {% assign base_url_list= base_url_tmp | split: "^" %}

            
            <!--所以再处理一遍，顺便排个序吧 -->
            {%  capture base_url_list %}
            {% for base_url in base_url_list %}
            {{base_url |  strip }}{% if forloop.last == false %}^{% endif %}
            {% endfor %} 
            {% endcapture %}
            {% assign base_url_list= base_url_list   | split: "^" | sort_natural %}
           
            <!--删除index.html,以及collection根目录对应的base_url -->            
            {% assign tmp_menu_name= base_url_list[0] | split: '/' | first | strip %}
            {% assign index_menu_to_remove= collection_root_name | prepend: "/" | prepend: tmp_menu_name %}
            <!--如果除了index.html，之外，还有其它文件在collection的根目录，
            那么将会有多于1个的base_url_list的元素与index_menu_to_remove一致，因此我们要新建一个“未分类”的menu
            此处我们获取一个标志位变量来表征需要建立此menu
             -->
            {% assign flag_not_classified = 0 %}
            {% for base_url in base_url_list %}                        
              {% assign tmp = base_url | strip %}
              {% if tmp  ==  index_menu_to_remove%}               
                {% assign flag_not_classified = flag_not_classified | plus: 1 %}
              {% endif %} 
            {% endfor %} 
             <!-- flag 已经设置好了 -->
            {% assign base_url_list= base_url_list | join:"^" | remove: index_menu_to_remove %}
            {% assign base_url_list= base_url_list | split: "^" | sort_natural | uniq %}
           

            <!-- 去掉空元素即：collection根目录下的文件,顺便去掉目录前面的斜杠 -->
            {%  capture base_url_list %}
            {% for base_url in base_url_list %}
            {% assign tmp = base_url | strip %}
              {% if tmp != "" %} 
                {{base_url |  strip | remove: "/"}}{% if forloop.last == false %}^{% endif %}
              {% endif %}
            {% endfor %} 
            {% endcapture %}
            {% assign base_url_list= base_url_list   | split: "^" | sort_natural | uniq %}
            


            {% if base_url_list.size == 1 %}
              {% assign tmp = base_url_list | first | strip %}
              {% if tmp == "" %}
                <li><a href="#本分类-ref"> 本分类 </a></li>
              {% elsif flag_not_classified > 1 %}
                <li><a href="#未分类-ref"> 未分类 </a></li>
              {% endif %} 
            {% elsif flag_not_classified > 1 %}
                <li><a href="#未分类-ref"> 未分类 </a></li>
            {% endif %} 

            {% for base_url in base_url_list %} 
              {% assign tmp = base_url | strip %}
              {% if tmp != "" %}  <!-- 空元素即：collection根目录下的文件 -->                 
                <li><a href="#{{ base_url  | strip | url_decode}}-ref" >{{ base_url  | strip | url_decode  | truncate: 33}}</li>  
              {% endif %}            
            {% endfor %}  
       
            
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <div class="home">
            {% for base_url in base_url_list %} 
              {% assign tmp = base_url | strip %}
              <!-- 有子目录分类的 -->
              {% if tmp !="" %}
                <h2><a id="{{ base_url  | strip | url_decode}}-ref" >{{ base_url  | strip | url_decode}}</h2>

                {% assign base_url_strip = base_url | strip %} 
               
                 {% for node in all_pages_list %}                  
                    {% if node.url contains base_url_strip %} 
                        {% if node.title != null %}
                          {% if group == null or group == node.group %}
                            {% if page.url == node.url %}
                            <ol class="breadcrumb">
                              <li class="active"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{{ node.title }}</a></li>
                              <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                            </ol>
                            {% else %}
                            <ol class="breadcrumb">
                              <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                              <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                            </ol>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    {% endif %}                                   
                {% endfor %}

              {% endif %}
            {% endfor %}

              <!-- 无子目录分类的 -->                
                {% if base_url_list.size == 1 %}
                  {% assign tmp = base_url_list | first | strip %}
                  {% if tmp == "" %}
                    <h2><a id="本分类-ref"> 本分类 </a></h2>
                  {% elsif flag_not_classified > 1 %}
                    <h2><a id="未分类-ref"> 未分类 </a></h2>
                  {% endif %} 
                {% elsif flag_not_classified > 1 %}
                    <h2><a id="未分类-ref"> 未分类 </a></h2>
                {% endif %} 

                {% for node in all_pages_list %} 
                    {%  assign node_url_parts = node.url | split: '/' %}
                    {%  assign filename = node_url_parts | last %}                    
                    {%  assign tmp = filename | prepend: '/' %}             
                    {%  assign node_now_url =  node.url | remove: tmp  %}
                    {%  assign node_now_url =  node_now_url | remove_first: '/'  %}
                    {%  assign node_now_url_depth = node_now_url | split: '/' | size %}                                       
                    {% if 2==node_now_url_depth and filename != 'index' %} 
                        {% if node.title != null %}
                          {% if group == null or group == node.group %}
                            {% if page.url == node.url %}
                            <ol class="breadcrumb">
                              <li class="active"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{{ node.title }}</a></li>
                              <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                            </ol>
                            {% else %}
                            <ol class="breadcrumb">
                              <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                              <li style="float:right;"><span>{{ node.date | date: "%F" }}</span></li>
                            </ol>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    {% endif %}                                   
                {% endfor %} 
 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>